<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<dict>
		<key>ar</key>
		<dict>
			<key>Name</key>
			<string>Argentina</string>
			<key>iTunesCode</key>
			<integer>143505</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>au</key>
		<dict>
			<key>Name</key>
			<string>Australia</string>
			<key>iTunesCode</key>
			<integer>143460</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>be</key>
		<dict>
			<key>Name</key>
			<string>Belgium</string>
			<key>iTunesCode</key>
			<integer>143446</integer>
		</dict>
		<key>br</key>
		<dict>
			<key>Name</key>
			<string>Brazil</string>
			<key>iTunesCode</key>
			<integer>143503</integer>
			<key>GoogleCode</key>
			<string>pt</string>
		</dict>
		<key>ca</key>
		<dict>
			<key>Name</key>
			<string>Canada</string>
			<key>iTunesCode</key>
			<integer>143455</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>cl</key>
		<dict>
			<key>Name</key>
			<string>Chile</string>
			<key>iTunesCode</key>
			<integer>143483</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>cn</key>
		<dict>
			<key>Name</key>
			<string>China</string>
			<key>iTunesCode</key>
			<integer>143465</integer>
			<key>GoogleCode</key>
			<string>zn</string>
		</dict>
		<key>co</key>
		<dict>
			<key>Name</key>
			<string>Colombia</string>
			<key>iTunesCode</key>
			<integer>143501</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>cr</key>
		<dict>
			<key>Name</key>
			<string>Costa Rica</string>
			<key>iTunesCode</key>
			<integer>143495</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>hr</key>
		<dict>
			<key>Name</key>
			<string>Croatia</string>
			<key>iTunesCode</key>
			<integer>143494</integer>
			<key>GoogleCode</key>
			<string>cr</string>
		</dict>
		<key>cz</key>
		<dict>
			<key>Name</key>
			<string>Czech Republic</string>
			<key>iTunesCode</key>
			<integer>143489</integer>
			<key>GoogleCode</key>
			<string>cs</string>
		</dict>
		<key>dk</key>
		<dict>
			<key>Name</key>
			<string>Denmark</string>
			<key>iTunesCode</key>
			<integer>143458</integer>
			<key>GoogleCode</key>
			<string>da</string>
		</dict>
		<key>sv</key>
		<dict>
			<key>Name</key>
			<string>El Salvador</string>
			<key>iTunesCode</key>
			<integer>143506</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>fi</key>
		<dict>
			<key>Name</key>
			<string>Finland</string>
			<key>iTunesCode</key>
			<integer>143447</integer>
			<key>GoogleCode</key>
			<string>fi</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>Name</key>
			<string>France</string>
			<key>iTunesCode</key>
			<integer>143442</integer>
			<key>GoogleCode</key>
			<string>fr</string>
		</dict>
		<key>de</key>
		<dict>
			<key>Name</key>
			<string>Germany</string>
			<key>iTunesCode</key>
			<integer>143443</integer>
			<key>GoogleCode</key>
			<string>de</string>
		</dict>
		<key>gr</key>
		<dict>
			<key>Name</key>
			<string>Greece</string>
			<key>iTunesCode</key>
			<integer>143448</integer>
			<key>GoogleCode</key>
			<string>el</string>
		</dict>
		<key>gt</key>
		<dict>
			<key>Name</key>
			<string>Guatemala</string>
			<key>iTunesCode</key>
			<integer>143504</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>hk</key>
		<dict>
			<key>Name</key>
			<string>Hong Kong</string>
			<key>iTunesCode</key>
			<integer>143463</integer>
			<key>GoogleCode</key>
			<string>zh-TW</string>
		</dict>
		<key>hu</key>
		<dict>
			<key>Name</key>
			<string>Hungary</string>
			<key>iTunesCode</key>
			<integer>143482</integer>
		</dict>
		<key>in</key>
		<dict>
			<key>Name</key>
			<string>India</string>
			<key>iTunesCode</key>
			<integer>143467</integer>
			<key>GoogleCode</key>
			<string>hi</string>
		</dict>
		<key>id</key>
		<dict>
			<key>Name</key>
			<string>Indonesia</string>
			<key>iTunesCode</key>
			<integer>143476</integer>
			<key>GoogleCode</key>
			<string>id</string>
		</dict>
		<key>ie</key>
		<dict>
			<key>Name</key>
			<string>Ireland</string>
			<key>iTunesCode</key>
			<integer>143449</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>il</key>
		<dict>
			<key>Name</key>
			<string>Israel</string>
			<key>iTunesCode</key>
			<integer>143491</integer>
		</dict>
		<key>it</key>
		<dict>
			<key>Name</key>
			<string>Italy</string>
			<key>iTunesCode</key>
			<integer>143450</integer>
			<key>GoogleCode</key>
			<string>it</string>
		</dict>
		<key>jp</key>
		<dict>
			<key>Name</key>
			<string>Japan</string>
			<key>iTunesCode</key>
			<integer>143462</integer>
			<key>GoogleCode</key>
			<string>ja</string>
		</dict>
		<key>kr</key>
		<dict>
			<key>Name</key>
			<string>Korea</string>
			<key>iTunesCode</key>
			<integer>143466</integer>
			<key>GoogleCode</key>
			<string>ko</string>
		</dict>
		<key>kw</key>
		<dict>
			<key>Name</key>
			<string>Kuwait</string>
			<key>iTunesCode</key>
			<integer>143493</integer>
			<key>GoogleCode</key>
			<string>ar</string>
		</dict>
		<key>lb</key>
		<dict>
			<key>Name</key>
			<string>Lebanon</string>
			<key>iTunesCode</key>
			<integer>143497</integer>
			<key>GoogleCode</key>
			<string>ar</string>
		</dict>
		<key>lu</key>
		<dict>
			<key>Name</key>
			<string>Luxembourg</string>
			<key>iTunesCode</key>
			<integer>143451</integer>
		</dict>
		<key>my</key>
		<dict>
			<key>Name</key>
			<string>Malaysia</string>
			<key>iTunesCode</key>
			<integer>143473</integer>
		</dict>
		<key>mx</key>
		<dict>
			<key>Name</key>
			<string>Mexico</string>
			<key>iTunesCode</key>
			<integer>143468</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>nl</key>
		<dict>
			<key>Name</key>
			<string>Netherlands</string>
			<key>iTunesCode</key>
			<integer>143452</integer>
			<key>GoogleCode</key>
			<string>nl</string>
		</dict>
		<key>nz</key>
		<dict>
			<key>Name</key>
			<string>New Zealand</string>
			<key>iTunesCode</key>
			<integer>143461</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>no</key>
		<dict>
			<key>Name</key>
			<string>Norway</string>
			<key>iTunesCode</key>
			<integer>143457</integer>
			<key>GoogleCode</key>
			<string>no</string>
		</dict>
		<key>pk</key>
		<dict>
			<key>Name</key>
			<string>Pakistan</string>
			<key>iTunesCode</key>
			<integer>143477</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>pa</key>
		<dict>
			<key>Name</key>
			<string>Panama</string>
			<key>iTunesCode</key>
			<integer>143485</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>pe</key>
		<dict>
			<key>Name</key>
			<string>Peru</string>
			<key>iTunesCode</key>
			<integer>143507</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>ph</key>
		<dict>
			<key>Name</key>
			<string>Phillipines</string>
			<key>iTunesCode</key>
			<integer>143474</integer>
			<key>GoogleCode</key>
			<string>tl</string>
		</dict>
		<key>pl</key>
		<dict>
			<key>Name</key>
			<string>Poland</string>
			<key>iTunesCode</key>
			<integer>143478</integer>
			<key>GoogleCode</key>
			<string>pl</string>
		</dict>
		<key>pt</key>
		<dict>
			<key>Name</key>
			<string>Portugal</string>
			<key>iTunesCode</key>
			<integer>143453</integer>
			<key>GoogleCode</key>
			<string>pt</string>
		</dict>
		<key>qa</key>
		<dict>
			<key>Name</key>
			<string>Qatar</string>
			<key>iTunesCode</key>
			<integer>143498</integer>
			<key>GoogleCode</key>
			<string>ar</string>
		</dict>
		<key>ro</key>
		<dict>
			<key>Name</key>
			<string>Romania</string>
			<key>iTunesCode</key>
			<integer>143487</integer>
			<key>GoogleCode</key>
			<string>ro</string>
		</dict>
		<key>ru</key>
		<dict>
			<key>Name</key>
			<string>Russia</string>
			<key>iTunesCode</key>
			<integer>143469</integer>
			<key>GoogleCode</key>
			<string>ru</string>
		</dict>
		<key>sa</key>
		<dict>
			<key>Name</key>
			<string>Saudi Arabia</string>
			<key>iTunesCode</key>
			<integer>143479</integer>
			<key>GoogleCode</key>
			<string>ar</string>
		</dict>
		<key>sg</key>
		<dict>
			<key>Name</key>
			<string>Singapore</string>
			<key>iTunesCode</key>
			<integer>143464</integer>
		</dict>
		<key>sk</key>
		<dict>
			<key>Name</key>
			<string>Slovakia</string>
			<key>iTunesCode</key>
			<integer>143496</integer>
			<key>GoogleCode</key>
			<string>sk</string>
		</dict>
		<key>si</key>
		<dict>
			<key>Name</key>
			<string>Slovenia</string>
			<key>iTunesCode</key>
			<integer>143499</integer>
			<key>GoogleCode</key>
			<string>sl</string>
		</dict>
		<key>za</key>
		<dict>
			<key>Name</key>
			<string>South Africa</string>
			<key>iTunesCode</key>
			<integer>143472</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>es</key>
		<dict>
			<key>Name</key>
			<string>Spain</string>
			<key>iTunesCode</key>
			<integer>143454</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>lk</key>
		<dict>
			<key>Name</key>
			<string>Sri Lanka</string>
			<key>iTunesCode</key>
			<integer>143486</integer>
		</dict>
		<key>ch</key>
		<dict>
			<key>Name</key>
			<string>Switzerland</string>
			<key>iTunesCode</key>
			<integer>143459</integer>
		</dict>
		<key>se</key>
		<dict>
			<key>Name</key>
			<string>Sweden</string>
			<key>iTunesCode</key>
			<integer>143456</integer>
			<key>GoogleCode</key>
			<string>sv</string>
		</dict>
		<key>tw</key>
		<dict>
			<key>Name</key>
			<string>Taiwan</string>
			<key>iTunesCode</key>
			<integer>143470</integer>
			<key>GoogleCode</key>
			<string>zh-TW</string>
		</dict>
		<key>th</key>
		<dict>
			<key>Name</key>
			<string>Thailand</string>
			<key>iTunesCode</key>
			<integer>143475</integer>
		</dict>
		<key>tr</key>
		<dict>
			<key>Name</key>
			<string>Turkey</string>
			<key>iTunesCode</key>
			<integer>143480</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>ae</key>
		<dict>
			<key>Name</key>
			<string>United Arab Emirates</string>
			<key>iTunesCode</key>
			<integer>143481</integer>
			<key>GoogleCode</key>
			<string>ar</string>
		</dict>
		<key>gb</key>
		<dict>
			<key>Name</key>
			<string>United Kingdom</string>
			<key>iTunesCode</key>
			<integer>143444</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>us</key>
		<dict>
			<key>Name</key>
			<string>United States</string>
			<key>iTunesCode</key>
			<integer>143441</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>ve</key>
		<dict>
			<key>Name</key>
			<string>Venezuela</string>
			<key>iTunesCode</key>
			<integer>143502</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>vn</key>
		<dict>
			<key>Name</key>
			<string>Vietnam</string>
			<key>iTunesCode</key>
			<integer>143471</integer>
			<key>GoogleCode</key>
			<string>vi</string>
		</dict>
		<key>do</key>
		<dict>
			<key>Name</key>
			<string>Dominican Republic</string>
			<key>iTunesCode</key>
			<integer>143508</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>ec</key>
		<dict>
			<key>Name</key>
			<string>Ecuador</string>
			<key>iTunesCode</key>
			<integer>143509</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>hn</key>
		<dict>
			<key>Name</key>
			<string>Honduras</string>
			<key>iTunesCode</key>
			<integer>143510</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>jm</key>
		<dict>
			<key>Name</key>
			<string>Jamaica</string>
			<key>iTunesCode</key>
			<integer>143511</integer>
			<key>GoogleCode</key>
			<string>en</string>
		</dict>
		<key>ni</key>
		<dict>
			<key>Name</key>
			<string>Nicaragua</string>
			<key>iTunesCode</key>
			<integer>143512</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>py</key>
		<dict>
			<key>Name</key>
			<string>Paraguay</string>
			<key>iTunesCode</key>
			<integer>143513</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>uy</key>
		<dict>
			<key>Name</key>
			<string>Uruguay</string>
			<key>iTunesCode</key>
			<integer>143514</integer>
			<key>GoogleCode</key>
			<string>es</string>
		</dict>
		<key>ee</key>
		<dict>
			<key>Name</key>
			<string>Estonia</string>
			<key>iTunesCode</key>
			<integer>143518</integer>
			<key>GoogleCode</key>
			<string>ee</string>
		</dict>
		<key>lv</key>
		<dict>
			<key>Name</key>
			<string>Latvia</string>
			<key>iTunesCode</key>
			<integer>143519</integer>
			<key>GoogleCode</key>
			<string>lv</string>
		</dict>
		<key>lt</key>
		<dict>
			<key>Name</key>
			<string>Lithuania</string>
			<key>iTunesCode</key>
			<integer>143520</integer>
			<key>GoogleCode</key>
			<string>lt</string>
		</dict>
		<key>mt</key>
		<dict>
			<key>Name</key>
			<string>Malta</string>
			<key>iTunesCode</key>
			<integer>143521</integer>
			<key>GoogleCode</key>
			<string>mt</string>
		</dict>
		<key>mo</key>
		<dict>
			<key>Name</key>
			<string>Macao</string>
			<key>iTunesCode</key>
			<integer>143515</integer>
		</dict>
		<key>md</key>
		<dict>
			<key>Name</key>
			<string>Moldovia</string>
			<key>iTunesCode</key>
			<integer>143523</integer>
		</dict>
		<key>kz</key>
		<dict>
			<key>Name</key>
			<string>Kazakhstan</string>
			<key>iTunesCode</key>
			<integer>143517</integer>
		</dict>
		<key>eg</key>
		<dict>
			<key>Name</key>
			<string>Egypt</string>
			<key>iTunesCode</key>
			<integer>143516</integer>
		</dict>
	</dict>
</dict>
</plist>
